# Node & Build Outputs
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*

# Captures & Test Mime
*.png
*.webm
*.jpg
*.jpeg

# Tauri / Rust Target
src-tauri/target/
src-tauri/*.png
src-tauri/*.webm

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
